.main-nav {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  position: fixed;
  color: MediumAquamarine;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid black;
}

.main-link {
  color: black;
}

.logo-img {
  align-items: flex-start;
  display: inline-flex;
}

.container {
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
  align-items: center
}

.main-link a {
  color: black
}
